@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #4b0082;
}

/* Apka custom body styling */
body {
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
}
